.container {
    height: 100%;
}

img {
    width: 50%;
    height: 5rem;
    margin: 1rem 1rem 1rem 1rem;
}

.sidenav {
    width: 15rem;
    color: white;
    background: linear-gradient(176deg,rgb(151, 47, 33) 0%, rgba(117, 64, 51, 0.884) 35%, rgba(0, 212, 255, 1) 100%);
    /* background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(37, 97, 207, 1) 0%, rgba(0, 212, 255, 1) 100%); */
}


mat-drawer a, mat-drawer a span, mat-drawer a .mat-list-item-content {
    color: white !important;
}

.sidenav i {
    margin-right: 1rem;
}

 .menu {
    margin: 1rem 0 0 1rem;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* background: linear-gradient(176deg,rgb(2, 0, 40) 0%, rgb(15, 53, 113) 35%, rgba(0, 212, 255, 1) 100%); */
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(37, 97, 207, 1) 0%, rgba(0, 212, 255, 1) 100%);
    border: none;
    opacity: 0.7;
} 