* {
    font-family: 'Roboto', sans-serif;
}

/*
h1 {
    text-align: center;
    font-size: 1.6rem;
    border-radius: 1rem;
}
*/

h1 { 
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    border-radius: 1rem;
    margin-bottom: 2rem;
    background: linear-gradient(135deg, #f5f5f5, #fafafa);
    border-radius: 12px;
    color: #424242;
    padding: 1rem;
    opacity: 0.8;
}

p {
    text-align: center;
    margin-top: 1rem;
    opacity: 0.6;
}

img { 
    height: 10rem;
    width: 10rem;
    margin: auto;
    display: block;
    
}

.container { 
    width: 40rem;
    margin: auto;
    padding: 0.5rem 1.2rem 1rem 1.2rem;
    border-radius: 0.6rem;
}

.fullWidth {
    width: 100%;
}

.form {
    border-radius: 2rem;
}

.section { 
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
}

.findButton {
    display: flex;
    justify-content: space-around;
}
