* {
    font-family: 'Roboto', sans-serif;
}

section { 
    display: flex;
}

table {
    width: 100%;
}

h1 { 
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    border-radius: 2rem;
    opacity: 0.8;
}

button { 
    width: 8.4rem;
    height: 2.4rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    border-radius: 0.8rem;
    border: none;
    cursor: pointer;
    color: #851944; 
    font-size: 0.9rem;
}

mat-form-field {
    font-size: 14px;
    width: 100%;
}

.container {
    width: 85%;
    margin: auto;
}

.class-button {
    display: flex;
    width: 100%;
    margin: 8px 8px 8px 0;
    justify-content: flex-end;
}

.edit {
    color: rgb(40, 40, 207);
}

.delete {
    color: gray;
}